<%= form_with url: twitter_search_path, class: 'form-inline my-2 my-lg-0' do |form| %>
  <input class="form-control mr-sm-2" name='query' type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
<% end %>